.card-container {
  width: 250px;
  min-height: 300px;
  background-color: #ffffff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 50px;
  border-radius: 4px;
}
.salon-name {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.salon-location {
  font-size: 16px;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px;
}

.salon-description {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}
.services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 5%;
  margin: unset;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 4px 4px;
  background: #433532;
  color: white;
}

.salon-image {
  height: 42%;
  width: 100%;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.salon-heading {
  padding: 0px 10%;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  color: #433532;
  max-width: 100%;
  width: 588px;
  color: white;
  background: black;
}

.salon-image {
  height: 42%;
  width: 100%;
}

/*desktop styles*/
@media screen and (min-width: 600px) {
  .salon-image {
    height: 50%;
    width: 100%;
  }
  .card-container {
    width: 250px;
    min-height: 430px;
  }
}
