.card-container {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  border: 1px solid #00000080;
  background-color: #ffffff;
}
.salon-name {
  font-family: Tahoma;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.salon-location {
  font-family: Lilita One;
  font-size: 18px;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.salon-description {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}
