@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Slab:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lilita+One&family=Roboto+Slab:wght@200;500&display=swap");
.navbar {
  outline: 2px solid red;
  display: flex;
  justify-content: space-around;
}

.container {
  border: 2px solid red;
  display: flex;
  height: 650px;
  font-family: "Lilita One", cursive;
}

.subtitle {
  font-family: "Inter", sans-serif;
}

.background-image {
  border: 2px solid green;
  flex: 1;
  position: relative;
}

.background-image img {
  width: 100%;
  height: 100%;
}

.background-white {
  background: hotpink;
  border: 2px solid hotpink;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-girl {
  height: 440px;
  width: 300px;
  position: absolute;
  top: 147px;
  right: 20%;
}
.sub-title {
  text-align: center;
  font-family: "Lilita One", cursive;
}

.nav-item {
}

.home-feature-cards-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

@media screen and (min-width: 600px) {
  .nav-item {
    margin: 10px;
  }

  .navbar {
    outline: 2px solid red;
    display: flex;
    justify-content: flex-end;
  }

  .home-feature-cards-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly;
  }
}
